.hide {
  display: none;
}

.valueW {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}

.valueG {
  border: 1px solid #0e970e;
  background: #0e970e;
  color: #fff;
}

.valueB {
  border: 1px solid #0e3cb9;
  background: #0e3cb9;
  color: #fff;
}

.valueP {
  border: 1px solid #7513c5;
  background: #7513c5;
  color: #ffee00;
}

.valueY {
  border: 1px solid #ffee00;
  background: #ffee00;
  color: #ff0000;
}

div,
li,
label {
  overflow: hidden;
}

img {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

body {
  min-width: 360px;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}

@media screen and (max-width: 720px) {
  body {
    width: 360px;
  }
}

@media screen and (min-width: 721px) {
  body {
    width: 720px;
  }
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #0adb96;
}

header #headerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header #headerBox #logo {
  max-width: 120px;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
}

header #headerBox #logo img {
  height: 100%;
}

header #headerBox #title {
  height: 50px;
  min-width: 120px;
  line-height: 50px;
  margin: 10px 0;
  color: #ddfdf3;
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  text-align: center;
}

header #headerBox #headerBtnBox {
  height: 50px;
  min-width: 120px;
  line-height: 50px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #headerBox #headerBtnBox button {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  color: #ddfdf3;
  border: 1px solid #ddfdf3;
  -webkit-box-shadow: 0 0 1px 1px #255f4c;
          box-shadow: 0 0 1px 1px #255f4c;
}

header #headerBox #headerBtnBox button .fas {
  line-height: 30px;
  height: 30px;
}

header #headerBox #headerBtnBox button.openedBtn {
  background: #255f4c;
  -webkit-box-shadow: 0 0 1px 1px #255f4c inset;
          box-shadow: 0 0 1px 1px #255f4c inset;
}

header #headerBox #headerBtnBox button#headerBagBtn {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

header #headerBox #headerBtnBox button#headerBagBtn.gotDrops {
  background: #a06536;
}

header #headerBox #headerBtnBox button#headerBagBtn.gotDrops .fas {
  color: #ffff00;
}

header #headerBox #allItemPath {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  min-width: 35px;
  max-height: 30%;
  text-align: right;
  border-radius: 5px;
  border: 1px solid #255f4c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header #headerBox #allItemPath::-webkit-scrollbar {
  display: none;
}

header #headerBox #allItemPath.active {
  display: block;
  position: fixed;
  top: 70px;
  width: 360px;
  z-index: 5;
  left: 50%;
  margin-left: -180px;
  z-index: 11;
}

header #headerBox #allItemPath .tabName {
  height: 30px;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid #255f4c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 5px;
}

header #headerBox #allItemPath .tabName .rePathFinderBtn {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

header #headerBox #allItemPath .tabName .rePathFinderBtn .fas {
  line-height: 30px;
  height: 30px;
}

header #headerBox #allItemPath .itemPaths {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header #headerBox #allItemPath .itemPaths ul li {
  height: 30px;
  line-height: 30px;
}

main {
  margin-top: 70px;
  position: relative;
}

main > div {
  margin-bottom: 10px;
  background: #ddfdf3;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 #0adb96;
          box-shadow: 0 1px 1px 0 #0adb96;
}

main .tabName {
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
  font-weight: bold;
  color: #255f4c;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

main .tabName .toggleTabContentBtn {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

main .tabName .toggleTabContentBtn .fas {
  line-height: 30px;
  height: 30px;
}

main .tabName .toggleTabContentBtn .fa-angle-double-down {
  display: none;
}

main .tabName .toggleTabContentBtn .fa-angle-double-up {
  display: block;
}

main .tabName .toggleTabContentBtn.closed .fa-angle-double-down {
  display: block;
}

main .tabName .toggleTabContentBtn.closed .fa-angle-double-up {
  display: none;
}

main #selectItemBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto 70px;
      grid-template-columns: 25% auto 70px;
  -ms-grid-rows: (fit-content)[4];
      grid-template-rows: repeat(4, -webkit-fit-content);
      grid-template-rows: repeat(4, fit-content);
  gap: 5px;
  padding: 0 5px;
}

main #selectItemBox .tabName {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  text-indent: 0;
}

main #selectItemBox #selectDept {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #selectItemBox #selectDept.hide {
  display: none;
}

main #selectItemBox #selectDept .dept {
  display: none;
}

main #selectItemBox #selectDept label {
  margin: 2.5px 5px;
  -webkit-box-shadow: 0 0 1px 1px #0adb96;
          box-shadow: 0 0 1px 1px #0adb96;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
}

main #selectItemBox #selectDept label.selected {
  background: #255f4c;
  color: #ddfdf3;
  -webkit-box-shadow: 0 0 1px 1px #255f4c inset;
          box-shadow: 0 0 1px 1px #255f4c inset;
  border: 1px solid #255f4c;
}

main #selectItemBox #selectCategory {
  height: 30px;
}

main #selectItemBox #selectCategory.hide {
  display: none;
}

main #selectItemBox #selectCategory #categoryList {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

main #selectItemBox #selectDetails {
  height: 30px;
}

main #selectItemBox #selectDetails.hide {
  display: none;
}

main #selectItemBox #selectDetails #detailsList {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

main #selectItemBox #itemSubmitBtn {
  height: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px #0adb96;
          box-shadow: 0 0 1px 1px #0adb96;
}

main #selectItemBox #itemSubmitBtn.hide {
  display: none;
}

main #selectItemBox #itemSubmitBtn .fa-plus {
  color: #255f4c;
}

main #selectItemBox #selectPreview {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  position: relative;
}

main #selectItemBox #selectPreview.hide {
  display: none;
}

main #selectItemBox #selectPreview #itemPreview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(70px, 25%) auto;
      grid-template-columns: minmax(70px, 25%) auto;
  gap: 5px;
  position: relative;
}

main #selectItemBox #selectPreview #itemPreview #itemImg {
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #selectItemBox #selectPreview #itemPreview #itemImg img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main #selectItemBox #selectPreview #itemPreview #itemOptions li {
  min-height: 25px;
  line-height: 25px;
  text-indent: 5px;
  background: #fff;
  border-bottom: 2px solid #ddfdf3;
}

main #selectItemBox #selectPreview #itemPreview #itemOptions li#itemName .attrValue {
  border: none;
  padding: 0 5px;
}

main #selectItemBox #selectPreview #itemPreview #itemOptions li#itemMaterial .matInfoBtn {
  padding: 0 5px;
  background: #fff;
  color: #000;
  -webkit-box-shadow: 1px 0 1px 0 #999;
          box-shadow: 1px 0 1px 0 #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

main #selectItemBox #selectPreview #itemPreviewBtnBox {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
}

main #selectItemBox #selectPreview #itemPreviewBtnBox .undoInfoBtn,
main #selectItemBox #selectPreview #itemPreviewBtnBox .pathFinderBtn {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
}

main #selectItemBox #selectPreview #itemPreviewBtnBox .undoInfoBtn .fas,
main #selectItemBox #selectPreview #itemPreviewBtnBox .pathFinderBtn .fas {
  line-height: 25px;
  height: 25px;
}

main #selectItemBox #selectPreview #itemPathModal {
  border: 1px solid #255f4c;
  border-radius: 5px;
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  min-width: 50px;
  text-align: right;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main #selectItemBox #selectPreview #itemPathModal::-webkit-scrollbar {
  display: none;
}

main #selectItemBox #selectPreview #itemPathModal.hide {
  display: none;
}

main #selectItemBox #selectPreview #itemPathModal #itemPathModalBtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

main #selectItemBox #selectPreview #itemPathModal #itemPathModalBtnBox .removePathBtn,
main #selectItemBox #selectPreview #itemPathModal #itemPathModalBtnBox .rePathFinderBtn {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
}

main #selectItemBox #selectPreview #itemPathModal #itemPathModalBtnBox .removePathBtn .fas,
main #selectItemBox #selectPreview #itemPathModal #itemPathModalBtnBox .rePathFinderBtn .fas {
  line-height: 25px;
  height: 25px;
}

main #selectItemBox #selectPreview #itemPathModal .itemPaths {
  margin-top: 25px;
}

main #targetItems {
  position: relative;
}

main #targetItems #targetItemBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

main #targetItems #targetItemBox.hide {
  display: none;
}

main #targetItems #targetItemBox > li {
  background: #fff;
  border-radius: 5px;
  margin: 5px;
}

main #targetItems #targetItemBox > li #targetItemImg {
  text-align: center;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #targetItems #targetItemBox > li #targetItemBtnBox {
  text-align: center;
}

main #targetItems #targetItemBox > li #targetItemBtnBox .targetItemsRemoveBtn {
  color: #ff0000;
}

main #targetItems #targetItemsRemoveAllBtnBox {
  position: absolute;
  top: 0;
  right: 0;
}

main #targetItems #targetItemsRemoveAllBtnBox #targetItemsRemoveAllBtn {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

main #targetItems #targetItemsRemoveAllBtnBox #targetItemsRemoveAllBtn .fas {
  line-height: 30px;
  height: 30px;
}

main #needDrops {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

main #needDrops #needDropsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 5px;
}

main #needDrops #needDropsBox.hide {
  display: none;
}

main #needDrops #needDropsBox li {
  margin: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

main #areaBox {
  position: relative;
}

main #areaBox .tabName .removeAllBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

main #areaBox .tabName .removeAllBtn .fas {
  line-height: 30px;
  height: 30px;
}

main #areaBox #areaList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 5px;
}

main #areaBox #areaList > li {
  position: relative;
  border-radius: 5px;
  min-height: 50px;
}

main #areaBox #areaList > li .areaName {
  background: #fff;
  width: 100%;
  display: block;
  height: 25px;
  line-height: 25px;
  text-indent: 5px;
}

main #areaBox #areaList > li .customRouteOrder {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-style: italic;
  color: #ff0000;
}

main #areaBox #areaList > li .areaInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  line-height: 25px;
  background: #fff;
}

main #areaBox #areaList > li .areaInfoBox .resurrection {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  color: #3ccabe;
}

main #areaBox #areaList > li .areaInfoBox .resurrection .fas {
  line-height: 25px;
  height: 25px;
}

main #areaBox #areaList > li .areaInfoBox .hyperloop {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  color: #1f77fc;
}

main #areaBox #areaList > li .areaInfoBox .hyperloop .fas {
  line-height: 25px;
  height: 25px;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  background: #0adb96;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .pickAreaBtn {
  background: #fff;
  margin-right: 1px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  border-radius: 0;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .pickAreaBtn .fas {
  line-height: 25px;
  height: 25px;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .pickAreaBtn.picked {
  color: #ff0000;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .toggleDropsBtn {
  background: #fff;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  border-radius: 0;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .toggleDropsBtn .fas {
  line-height: 25px;
  height: 25px;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .toggleDropsBtn .fa-angle-double-down {
  display: block;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .toggleDropsBtn .fa-angle-double-up {
  display: none;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .toggleDropsBtn.closed .fa-angle-double-down {
  display: none;
}

main #areaBox #areaList > li .areaInfoBox .areaBtnBox .toggleDropsBtn.closed .fa-angle-double-up {
  display: block;
}

main #areaBox #areaList > li .areaNeedDrops {
  border-top: 1px solid #0adb96;
  background: #fff;
}

main #areaBox #areaList > li .areaNeedDrops ul li {
  overflow: hidden;
}

main #areaBox #areaList > li .areaNeedDrops ul li .getDropBtn {
  padding: 5px;
}

main #areaBox #areaList > li .areaNeedDrops ul li .getDropBtn:active {
  -webkit-box-shadow: 0px 0px 2px 1px #999 inset;
          box-shadow: 0px 0px 2px 1px #999 inset;
  border-radius: 5px;
}

main #areaBox #areaList > li .areaNeedDrops ul li.neededDrops .getDropBtn {
  font-weight: 800;
  color: red;
}

main #areaBox #areaList > li .areaNeedDrops ul li.noNeededDrops .getDropBtn {
  color: #999;
}

main #areaBox #areaList > li:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

main #areaBox #areaList > li:last-child .toggleDropsBtn {
  position: absolute;
  top: 0;
  right: 5px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
}

main #areaBox #areaList > li:last-child .toggleDropsBtn .fas {
  line-height: 25px;
  height: 25px;
}

main #areaBox #areaList > li:last-child .toggleDropsBtn .fa-angle-double-down {
  display: block;
}

main #areaBox #areaList > li:last-child .toggleDropsBtn .fa-angle-double-up {
  display: none;
}

main #areaBox #areaList > li:last-child .toggleDropsBtn.closed .fa-angle-double-down {
  display: none;
}

main #areaBox #areaList > li:last-child .toggleDropsBtn.closed .fa-angle-double-up {
  display: block;
}

main #areaBox #areaList > li:last-child .areaNeedDrops ul {
  display: -ms-grid;
  display: grid;
  gap: 0 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#customRoute {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

#customRoute #routeOrderList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 5px;
  line-height: 40px;
  color: #0adb96;
  font-weight: bold;
}

#customRoute #routeOrderList.hide {
  display: none;
}

#customRoute #routeOrderList li {
  color: #000;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0 5px;
}

#bag {
  display: none;
  border-radius: 5px;
  background: #a06536;
}

#bag.active {
  display: block;
  position: fixed;
  top: 70px;
  width: 360px;
  z-index: 5;
}

#bag #bagInventory #bagInitialWeapon .tabName {
  color: #ddfdf3;
}

#bag #bagInventory #bagInitialWeapon .tabName .fas {
  color: #ddfdf3;
}

#bag #bagInventory #bagInitialWeapon #initialWeaponBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0 5px;
  background: #e9ad7c;
  border-radius: 5px;
}

#bag #bagInventory #bagInitialWeapon #initialWeaponBox.hide {
  display: none;
}

#bag #bagInventory #bagInitialWeapon #initialWeaponBox li {
  height: 30px;
}

#bag #bagInventory #bagInitialWeapon #initialWeaponBox li .initialWeaponBtn {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

#bag #bagInventory #bagInitialWeapon #initialWeaponBox li .initialWeaponBtn .fas {
  line-height: 30px;
  height: 30px;
}

#bag #bagInventory #bagInitialWeapon #initialWeaponBox li .initialWeaponBtn img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#bag #bagInventory .tabName {
  color: #ddfdf3;
}

#bag #bagInventory #bagEquip {
  margin: 5px 0;
}

#bag #bagInventory #bagEquip ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background: #e9ad7c;
  border-radius: 5px;
  padding: 5px;
}

#bag #bagInventory #bagEquip ul li {
  height: 25px;
  position: relative;
  background: #fff;
  border-radius: 5px;
}

#bag #bagInventory #bagEquip ul li.nowClicked {
  background: #ddfdf3;
  -webkit-box-shadow: 0 0 1px 1px #0adb96 inset;
          box-shadow: 0 0 1px 1px #0adb96 inset;
}

#bag #bagInventory #bagEquip ul li .moveBtn {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

#bag #bagInventory #bagEquip ul li .moveBtn .fas {
  line-height: 25px;
  height: 25px;
}

#bag #bagInventory #bagEquip ul li .moveBtn img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#bag #bagInventory #bagEquip ul li .moveBtn .empty {
  color: #999;
}

#bag #bagInventory #bagEquip ul li .removeBtn {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #ff0000;
}

#bag #bagInventory #bagEquip ul li .removeBtn .fas {
  line-height: 25px;
  height: 25px;
}

#bag #bagInventory #bagItem ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  background: #e9ad7c;
  border-radius: 5px;
  padding: 5px;
}

#bag #bagInventory #bagItem ul li {
  position: relative;
  height: 25px;
  background: #fff;
  border-radius: 5px;
}

#bag #bagInventory #bagItem ul li.nowClicked {
  background: #ddfdf3;
  -webkit-box-shadow: 0 0 1px 1px #0adb96 inset;
          box-shadow: 0 0 1px 1px #0adb96 inset;
}

#bag #bagInventory #bagItem ul li .moveBtn {
  height: 25px;
  width: 100%;
  text-align: center;
  position: relative;
}

#bag #bagInventory #bagItem ul li .moveBtn img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#bag #bagInventory #bagItem ul li .moveBtn .itemCount {
  color: #255f4c;
  font-size: 0.5em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: normal;
}

#bag #bagInventory #bagItem ul li .moveBtn .empty {
  color: #999;
}

#bag #bagInventory #bagItem ul li .removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  color: #ff0000;
  height: 15px;
  line-height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 5px;
}

#bag #bagInventory #bagItem ul li .removeBtn .fas {
  line-height: 15px;
  height: 15px;
}

#bag #bagAssembles .tabName {
  color: #ddfdf3;
}

#bag #bagAssembles.active {
  position: fixed;
  z-index: 15;
}

#bag #bagAssembles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e9ad7c;
  border-radius: 5px;
  margin-bottom: 5px;
}

#bag #bagAssembles ul li .assembleBtn {
  margin: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 1px #999;
          box-shadow: 1px 1px 3px 1px #999;
}

#footerBox {
  background: #0adb96;
  border-radius: 5px;
  padding: 5px 10px;
}

#footerBox div {
  color: #ddfdf3;
  font-size: 0.5em;
}

#footerBox div img {
  height: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */